.app {
  width: 100%;
  max-width: 540px;
  margin: 50px auto;
  background-color: rgb(224, 79, 127);
  border-radius: 20px;
}

.title {
  text-align: center;
  font-size: 32px;
  padding: 20px;
}

.list-title {
  font-size: 20px;
  margin-bottom: 15px;

}

.input-wrap {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.input-add {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: #ffebf5;
  outline: none;
  flex: 1;
  box-shadow: inset 0 0 0 1px #ccc;
}

.input-add:focus {
  box-shadow: inset 0 0 0 1px #ff90c4;
}

.contents {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin: 20px;
  min-height: 70vh;
}

.btn {
  padding: 12px 20px;
  background-color: #ff90c4;
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid #11111170;
}

.btn:hover {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 83, 126);
}

.todo-list li {
  background: #ffe2ec;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 16px;
  /* border-radius: 10px; */
  margin-top: 20px;
  position: relative;
}

.todo-list li:hover {
  background-color: #ff90c4;
}

.todo-list li:has(input:checked) {
  background-color: #ffacd3;
}

.empty-list {
  text-align: center;
  color: #ff90c4;
  font-size: 18px;
  padding-top: 100px;
}

.delete-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  background-color: transparent;
  border: none;
}

.filter-wrap {
  /* padding: 5px 10px; */
  margin: 20px;
  display: flex;
  gap: 10px;
}

.filter-btn {
  background-color: #fde7f2;
  /* color: #ccc; */
  border: none;
  border: 1px solid #111;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.filter-btn.active {
  background-color: #ff90c4;
  color: #111;
  font-weight: 500;
  border: 1px solid #111111;
}

.edit-btn {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  background-color: transparent;
  border: none;
}

.save-btn {
  position: absolute;
  right: 60px;
  top: 25%;
  transform: translate(-50%);
  background-color: #ffffff;
  border: none;
  border: 1px solid #111;
  padding: 3px 10px;
  border-radius: 20px;
}

.cancel-btn {
  position: absolute;
  right: 10px;
  top: 25%;
  transform: translate(-50%);
  background-color: #ff90c4;
  border: none;
  padding: 3px 10px;
  border-radius: 20px;
}

.edit-input {
  width: calc(100%-100px);
  padding: 6px 10px;
  border: 1px solid #fff;
  font-size: 16px;
  border-radius: 10px;
}