* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.box-wrapper {
    width: 100%;
    padding: 100px 0;
    /* display: flex;   */
    /* 플렉스를 주면 시작 방향이 바뀜 */
}

.box-wrapper01 {
    background-color: peachpuff;
}

.box-wrapper02 {
    background-color: rgb(199, 200, 255);
}

.box-wrapper02 {
    background-color: rgb(69, 235, 212);
}

.box-wrapper03 {
    background-color: rgb(181, 175, 236);
}

.box-wrapper04 {
    background-color: rgb(236, 215, 175);
}

.box {
    width: 100px;
    height: 100px;
}

.box1,
.box1-1 {
    background-color: purple;
}

.box2,
.box2-1 {
    background-color: rgb(0, 128, 96);
}

.box3 {
    background-color: rgb(214, 17, 109);
}

.box4 {
    background-color: rgb(214, 17, 109);
}

.box5 {
    background-color: rgb(17, 214, 92);
}

.box6 {
    background-color: rgb(110, 80, 182);
}