* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec01,
.sec03 {
    width: 100%;
    height: 100vh;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-wrap h2 {
    font-size: 72px;
    margin-bottom: 20px;
}

.text-wrap p {
    font-size: 20px;
    text-align: center;
}

.sec02 {
    height: 100vh;
    padding: 150px 50px;
    overflow: hidden;
}

.card-list {
    display: flex;
    margin-top: 30px;
}

.card-list li {
    width: 350px;
    height: 450px;
    padding: 0 30px;
    list-style: none;
    /* flex-shrink: 1 일 때 공간이 부족하면 카드들이 찌그러짐 */
    flex-shrink: 0;
}

.card {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s all ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #333;
}

.card:hover img {
    opacity: 0.8;
    transform: scale(0.98);
}

/* 홀수 카드 */
.card-list li:nth-child(odd) {
    transform: rotate(-8deg);
}

/* 짝수 카드 */
.card-list li:nth-child(even) {
    transform: rotate(4deg);
}