.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    /* composes: import 역할 : flex의 css를 상속받는다  */
    composes: flex;
    width: 200px;
    height: 200px;
    background-color: peachpuff;
}

/* .title 쓰고 싶은 경우  */
:global(.title) {
    font-size: 32px;
    font-weight: 400;
}